.wrapper:hover{
    width: 325px;
    min-height: 435px;
    box-shadow: 12px 12px 8px black;
    cursor: pointer;
}
.wrapper:hover >img{
    width: 285px;
    filter: none;
}
.wrapper:hover .imageinfo :first-child{
    background-color: hsl(47, 88%, 63%);
    width: 70px;
    color: black;
}
.wrapper:hover .imageinfo :nth-child(2){
    color: black;
    

}
.text h1:hover{
    color:hsl(48, 88%, 63%) ;
    
}
.wrapper:hover .text p{
    color: black;
}
.wrapper:hover .avatar-name > img{
    filter: none;
}
.wrapper:hover .avatar-name span{
    color: black ;
}
